doctype html 
html    
  head 
    title= title 
  body
    header
      h1= title
      nav 
        a(href="/") Front page 
        | 
        a(href="/users") Users
        | 
        a(href="/opg1") Opgave 1  
        | 
        a(href="/world") World
    block content
