extends layout 

block content
    section
        h2  Topic: Folders
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum in sequi eveniet placeat, doloremque maxime cumque minima reprehenderit repellendus amet nulla dolorem minus similique dolor voluptatem repudiandae eius perferendis nobis.
        img(src="images/image.png", alt="image of folder structure", height="300")
    section
        h2 Sign up to newsletter about folders
        input#mailField(placeholder="E-mail")
        button#subBtn Subscribe! 
    include includes/footer.pug
    script(src='javascripts/submit.js')
    
